## Settings file was created by plugin ScaleableShip v0.0.1
## Plugin GUID: ScaleableShip

[Options]

## Enables the mod.
# Setting type: Boolean
# Default value: true
Enabled = true

## If this is checked keep the railing the way it is.
# Setting type: Boolean
# Default value: true
Ignore Rail Settings = false

## Enables the new mode which scales everything, only uses Ship Scale values.
# Setting type: Boolean
# Default value: false
New Mode = false

## X Coordinates
##  Left/Right
# Setting type: Single
# Default value: 2
Ship Scale X = 1

## Y Coordinates
##  Up/Down
# Setting type: Single
# Default value: 2
Ship Scale Y = 1

## Z Coordinates
##  Front/Back
# Setting type: Single
# Default value: 1
Ship Scale Z = 0.01

## X Coordinates
##  Left/Right
# Setting type: Single
# Default value: 0
Ship Position X = 0

## Y Coordinates
##  Up/Down
# Setting type: Single
# Default value: 0
Ship Position Y = 0

## Z Coordinates
##  Front/Back
# Setting type: Single
# Default value: 0
Ship Position Z = -5

## X Coordinates
##  Left/Right
# Setting type: Single
# Default value: 1.9
Catwalk Scale X = 1

## Y Coordinates
##  Up/Down
# Setting type: Single
# Default value: 2
Catwalk Scale Y = 1

## Z Coordinates
##  Front/Back
# Setting type: Single
# Default value: 0.2
Catwalk Scale Z = 0.01

## X Coordinates
##  Left/Right
# Setting type: Single
# Default value: -15
Catwalk Position X = -8.5

## Y Coordinates
##  Up/Down
# Setting type: Single
# Default value: 0
Catwalk Position Y = 0

## Z Coordinates
##  Front/Back
# Setting type: Single
# Default value: -6
Catwalk Position Z = -5.5

## X Coordinates
##  Left/Right
# Setting type: Single
# Default value: 0
Ship Rail Scale X = 0

## Y Coordinates
##  Up/Down
# Setting type: Single
# Default value: 0
Ship Rail Scale Y = 0

## Z Coordinates
##  Front/Back
# Setting type: Single
# Default value: 0
Ship Rail Scale Z = 0

## X Coordinates
##  Left/Right
# Setting type: Single
# Default value: 0
Ship Rail Position X = 0

## Y Coordinates
##  Up/Down
# Setting type: Single
# Default value: 0
Ship Rail Position Y = 0

## Z Coordinates
##  Front/Back
# Setting type: Single
# Default value: 0
Ship Rail Position Z = 0

## X Coordinates
##  Left/Right
# Setting type: Single
# Default value: 0
Ship Rail Post Scale X = 0

## Y Coordinates
##  Up/Down
# Setting type: Single
# Default value: 0
Ship Rail Post Scale Y = 0

## Z Coordinates
##  Front/Back
# Setting type: Single
# Default value: 0
Ship Rail Post Scale Z = 0

## X Coordinates
##  Left/Right
# Setting type: Single
# Default value: 0
Ship Rail Post Position X = 0

## Y Coordinates
##  Up/Down
# Setting type: Single
# Default value: 0
Ship Rail Post Position Y = 0

## Z Coordinates
##  Front/Back
# Setting type: Single
# Default value: 0
Ship Rail Post Position Z = 0

Ship Rail Rotation X = 0

Ship Rail Rotation Y = 0

Ship Rail Rotation Z = 0

Ship Rail Post Rotation X = 0

Ship Rail Post Rotation Y = 0

Ship Rail Post Rotation Z = 0

Newer Mode = false

